/* .products {
    font-size: small;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */
.cart {
    padding-top: 70px;
    width: 100%;
}

/* .products img {
    width: 50%;
    height: 50%;
} */

.cart-title {
    color: rgba(32, 35, 36, 0.877);
    text-align: left;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
.item-button{
    width: 50%;
}
.item img {
    min-width: 100%;
    min-height: 60%;
    max-width: 100%;
}

.checkoutBtn:hover {
        background-color: rgba(0, 162, 255, 0.877);
        color: black;
}