button1
{
    margin-left: auto;
    background-color: rgb(214, 214, 214);
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px 24px;
    position:relative;
    top: 17px;
    right:0;
}
p2
{
    position:relative;
    top: 27px;
    right:0;
    color: navy;
}
button2
{
    margin-left: auto;
    background-color: rgb(214, 214, 214);
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px 24px;
    position:relative;
    top: 30px;
    right:0;
}

.transition
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}