.right_button {
    position:absolute;
    top: 20%;
    left: 85%;
    text-decoration:underline;
  }
.checkout {
    color: black;
    position: absolute;
    top: 20%;
    margin-left: 20%;
    font-size: xx-large;
  }
  .top-left {
    position: absolute;
    top: 30%;
    margin-left: 30%;
    font-size:x-large;
    font-weight: bold;
  }
  .none {
    position: absolute;
    top: 60%;
    right: 30%
  }
  .bottom-left {
    position: absolute;
    top: 60%;
    margin-left: -5%;
  }
  p.purchase-date {
      position:absolute;
      top: 40%;
  }